<li class="container-fluid movie-wrapper">
	<a href="<%= detailsLink %>?id=<%= resultId %>">
		<div id="${resultId}" class="data-wrapper container-fluid text-center">
			<h6 class="search-title align-middle"><%= resultTitle %></h6>
			<img class="search-images" src="<%= resultImage %>" />
			<p class="search-description align-middle">
				<small><%= resultDescription %></small>
			</p>
		</div>
	</a>
</li>
