<div class="row">
	<div class="d-flex col-5" id="movie-data-left">
		<div class="flex-grow-1">
			<img
				src="<%= movieDataState.moviePoster %>"
				class="img-fluid"
				id="movie-data-poster"
			/>
		</div>
	</div>
	<div class="col-7" id="movie-data-right">
		<div id="data-summary-wrapper">
			<h3 class="text-center"><%= movieDataState.movieTitle %></h3>
			<p><%= movieDataState.movieSummary %></p>
		</div>
		<div class="row flex-grow-1" id="data-rating-wrapper">
			<div class="row justify-content-around">
				<div class="col-3">
					<p>IMDB: <%= movieDataState.imdbRating %></p>
				</div>
				<div class="col-3">
					<p>Metacritic: <%= movieDataState.metacriticRating %></p>
				</div>
			</div>
			<div class="row justify-content-around">
				<div class="col-3">
					<p>Budget: <%= movieDataState.movieBudget %></p>
				</div>
				<div class="col-3">
					<p>Gross: <%= movieDataState.movieGross %></p>
				</div>
			</div>
			<div class="text-center">
				<% if (req.session.loggedin && isSaved == false) { %>
				<form action="/add-movie" method="post">
					<input
						type="submit"
						value="ADD me to your list"
						class="btn btn-primary"
					/>
				</form>
				<% } else if (req.session.loggedin && isSaved == true) { %>
				<form action="/drop-movie" method="get">
					<input
						type="submit"
						value="DROP me from your list"
						class="btn btn-danger"
					/>
				</form>
				<% } %>
			</div>
		</div>
	</div>
</div>
