<div class="row">
	<div class="d-flex col-5" id="movie-data-left">
		<div class="flex-grow-1">
			<img
				src="<%= movieData.moviePoster %>"
				class="img-fluid"
				id="movie-data-poster"
			/>
		</div>
	</div>
	<div class="col-7" id="movie-data-right">
		<div id="data-summary-wrapper">
			<h3 class="text-center"><%= movieData.movieTitle %></h3>
			<p><%= movieData.movieSummary %></p>
		</div>
		<div class="row flex-grow-1" id="data-rating-wrapper">
			<div class="row justify-content-around">
				<div class="col-3">
					<p>IMDB: <%= movieData.imdbRating %></p>
				</div>
				<div class="col-3">
					<p>Metacritic: <%= movieData.metacriticRating %></p>
				</div>
			</div>
			<div class="row justify-content-around">
				<div class="col-3">
					<p>Budget: <%= movieData.movieBudget %></p>
				</div>
				<div class="col-3">
					<p>Gross: <%= movieData.movieGross %></p>
				</div>
			</div>
			<div class="text-center">
				<% if (req.session.loggedin) { %>
				<form action="/add-movie" method="post">
					<input
						type="submit"
						value="ADD me to your list!"
						class="btn btn-primary"
					/>
				</form>
				<% } %>
			</div>
		</div>
	</div>
</div>
