<div class="sources-wrapper">
	<h4 class="text-center">Buy</h4>
	<ul class="source-ul">
		<% movieData.moviePurchaseArray.forEach((source) => { %>
		<li class="source-li">
			<a href="<%= source.web_url %>"
				><%= source.name %> from <%= source.price %></a
			>
			</li>
		<% }) %>
		</ul>
</div>
<div class="sources-wrapper">
	<h4 class="text-center">Rent</h4>
	<ul class="source-ul">
		<% movieData.movieRentArray.forEach((source) => { %>
		<li class="source-li">
			<a href="<%= source.web_url %>"
				><%= source.name %> from <%= source.price %></a
			>
		</li>
		<% }) %>
	</ul>
</div>
<div" class="sources-wrapper">
	<h4 class="text-center">Streaming</h4>
	<ul  class="source-ul">
		<% movieData.movieStreamingArray.forEach((source) => { %>
		<li class="source-li">
			<a href="<%= source.web_url %>"><%= source.name %></a>
		</li>
		<% }) %>
	</ul>
</div>
