<% tmdbSearchData.results.forEach((result) => { %>
<li class="container-fluid movie-wrapper">
	<a href="<%= detailsLink %>?id=<%= result.id %>">
		<div
			id="<%= result.id %>"
			class="data-wrapper container-fluid text-center"
		>
			<h6 class="search-title align-middle"><%= result.title %></h6>
			<img class="search-images" src="<%= result.poster_path %>" />
			<p class="search-description align-middle">
				<small><%= result.release_date %></small>
			</p>
		</div>
	</a>
</li>
<% }) %>
