<% userListState.listData.forEach((movie) => { %>
<li class="container-fluid list-group-item movie-wrapper">
	<a class="movie-link" href="?id=<%= movie.imdb_id %>">
		<div id="<%= movie.imdb_id %>" class="data-wrapper text-center">
			<h6 class="search-title align-middle"><%= movie.movie_title %></h6>
			<img
				class="img-fluid search-images"
				src="<%= movie.movie_poster %>"
			/>
			<p class="search-description align-middle">
				<small><%= movie.release_year %></small>
			</p>
		</div>
	</a>
</li>
<% }) %>
