<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div id="content-wrapper">
			<div class="container-fluid row">
				<div
					class="col-6 d-flex align-items-center justify-content-center"
				>
					<header class="">
						<h1>Welcome to MovieFax!</h1>
						<% if (req.session.loggedin) { %>
						<p>Welcome back, <%= req.session.userName %>!</p>
						<% } else{ %>
						<p>Sign up to build your movie list...</p>
						<% } %>
					</header>
				</div>
				<div class="col-6">
					<nav>
						<form action="/query-search" method="post">
							<div class="row">
								<div class="col-8 d-flex align-items-center">
									<input
										type="text"
										name="query"
										placeholder="Search for a movie to get started..."
										class="form-control"
									/>
								</div>
								<div class="col-4">
									<input
										type="submit"
										id="search-button"
										value="Search Movies"
										class="btn btn-secondary"
									/>
								</div>
							</div>
						</form>
						<div class="row d-flex justify-content-around">
							<div class="col-4">
								<form action="/sample-search" method="post">
									<input
										type="submit"
										value="Use Sample Data"
										class="btn btn-primary"
									/>
								</form>
							</div>
							<div class="col-4">
								<%- req.session.loggedin ?
								include('../partials/logout-btn') :
								include('../partials/login-btn') %>
							</div>
						</div>
					</nav>
				</div>
				<i class="text-center"
					>~ Powered by
					<a href="https://www.themoviedb.org/"
						><img
							id="tmdb-logo"
							src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"
					/></a>
					api &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
			<div class="container-fluid" id="movies-content-wrapper">
				<div id="lists-wrapper">
					<div id="search-results-wrapper">
						<ul>
							<%- req.url === '/sample-search' || req.url ===
							'/query-search' ?
							include('../partials/movie-wrapper', { detailsLink:
							detailsLink, imdbSearchData: imdbSearchData }) :
							include('../partials/storage') %>
						</ul>
					</div>
					<div id="user-movies-wrapper">
						<ul>
							<p>placeholder</p>
						</ul>
						<ul>
							<p>placeholder</p>
						</ul>
						<ul>
							<p>placeholder</p>
						</ul>
					</div>
				</div>
				<div class="row gx-3" id="movie-data-wrapper">
					<div id="poster-data-wrapper">
						<%- req.url === '/sample-details' || req.url ===
						'/details' ? include('../partials/poster-data',
						{moviePoster: moviePoster, movieSummary: movieSummary,
						imdbRating: imdbRating, metacriticRating:
						metacriticRating, movieBudget: movieBudget, movieGross:
						movieGross}) : include('../partials/storage') %>
					</div>
					<div id="data-sources-wrapper">
						<%- req.url === '/sample-details' || req.url ===
						'/details' ? include('../partials/sources-wrapper',
						{moviePurchaseArray: moviePurchaseArray, movieRentArray:
						movieRentArray, movieStreamingArray:
						movieStreamingArray}) : include('../partials/storage')
						%>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
