<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<div id="content-wrapper">
			<header class="row">
				<div class="col-4" id="greeting-wrapper">
					<h1>Welcome to MovieFax!</h1>
					<% if (req.session.loggedin) { %>
					<p>Welcome back, <%= req.session.username %>!</p>
					<% } else{ %>
					<p>Sign up to build your movie list...</p>
					<% } %>
				</div>
				<nav class="col-8">
					<form
						class="row"
						id="search-form"
						action="/query-search"
						method="post"
					>
						<div class="col-12 row width-100">
							<div class="col-8 d-flex align-items-center">
								<input
									type="text"
									name="query"
									autocomplete="off"
									spellcheck="false"
									placeholder="Search for a movie to get started..."
									class="form-control"
								/>
							</div>
							<div class="col-4">
								<input
									type="submit"
									id="search-button"
									value="Search Movies"
									class="btn btn-secondary"
								/>
							</div>
						</div>
					</form>
					<div
						class="row d-flex justify-content-around"
						id="nav-buttons"
					>
						<div class="col-4">
							<form action="/saved-state-data" method="get">
								<input
									type="submit"
									value="Use Stored State Data"
									class="btn btn-primary"
								/>
							</form>
						</div>
						<div class="col-4">
							<% if (req.session.loggedin) { %>
							<form action="/logout" method="get">
								<input
									type="submit"
									value="Logout"
									class="btn btn-primary"
								/>
							</form>
							<% } else{ %>
							<form action="/login-form" method="get">
								<input
									type="submit"
									value="Login to build list"
									class="btn btn-primary"
								/>
							</form>
							<% } %>
						</div>
					</div>
				</nav>
			</header>
			<div class="text-center" id="sub-header">
				<i
					>~ Powered by <a href="https://www.imdb.com">IMDB.com</a> &
					<a href="https://www.watchmode.com">Watchmode.com</a>
					~</i
				>
			</div>
			<div class="row" id="toggle-button-section">
				<div class="col-3" id="toggle-list-wrapper">
					<form
						action="/toggle-list"
						method="get"
						onsubmit="return false"
					>
						<input
							type="submit"
							value="Toggle Search / Custom List"
							class="btn btn-primary"
							id="toggle-list-button"
						/>
					</form>
				</div>
				<div class="col-9 text-center" id="toggle-info-wrapper">
					<form
						action="toggle-movie-info"
						method="get"
						onsubmit="return false"
					>
						<input
							type="submit"
							value="Toggle Movie / Sources Info"
							class="btn btn-primary"
							id="toggle-movie-info-button"
						/>
					</form>
				</div>
			</div>

			<div
				class="container-fluid row align-items-start"
				id="movies-content-wrapper"
			>
				<div class="col-2" id="lists-wrapper">
					<ul class="list-group" id="search-results-wrapper">
						<%- req.session.loggedin || req.url === '/saved-search'
						|| req.url === '/query-search' ||
						req.url.includes('/saved-state-data') ||
						req.url.includes('/details') ?
						include('../partials/movie-wrapper', { detailsLink:
						detailsLink, imdbSearchData: imdbSearchData }) :
						include('../partials/throwaway') %>
					</ul>
					<ul class="list-group hidden" id="user-movies-wrapper">
						<%- req.session.loggedin ?
						include('../partials/user-list-wrapper', savedList) :
						include('../partials/throwaway') %>
					</ul>
				</div>
				<div class="col-10" id="movie-data-wrapper">
					<div id="poster-data-wrapper">
						<%- req.session.loggedin &&
						req.url.includes('/saved-state-data') ||
						req.url.includes('/details') ?
						include('../partials/poster-data', movieData) :
						include('../partials/throwaway') %>
					</div>
					<div id="data-sources-wrapper" class="hidden">
						<%- req.session.loggedin &&
						req.url.includes('/saved-state-data') ||
						req.url.includes('/details') ?
						include('../partials/sources-wrapper', movieData) :
						include('../partials/throwaway') %>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
